<div	class="container	content">
  <h3>{{nombre}}</h3>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="item"></label>
        <input id="item-description" type="text" class="form-control" placeholder="Ingrese item..." #item/>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="guardar(item.value)">Agregar</button>
      </div>
    </form>
  </div>

  <div class="row row-flex">
    <ul>
      <li *ngFor = "let x of listobjs" >{{x}}</li>
    </ul>
  </div>

</div>